@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    /* display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; */
}

form.form-student-info input[type="text"], 
input[type="textarea"],
input[type="date"]
{
  font-size: 18px;
  padding: 5px;
}
form.form-student-info label {
  font-size: 22px;
  color: rgb(65, 65, 66);
  font-style: italic;
}

header.color-header{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 91%, rgba(255,255,255,0) 99%);
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.opacidad {
  background-color: #0000008e; 
}
.opacidadHover:hover {
  background-color: #0000008f; 
}
.ColorNotificacionList {
  background-color: #c2dded62; 
}
